.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента
.header__square-pic {
  height: 568px;
  width: 568px;
} */

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 64px;
  z-index: 3;
}

.title_text {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.subtitle_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.link {
  text-decoration: none;
}

.main-illustration {
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.main-illustration_size {
  width: 765px;
  height: 608px;
}

.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__main-text_paragraph {
  margin: 30px 0;
  font-weight: normal;
}

.two-columns__main-text_paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__main-text_paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns_text_size {
  line-height: 34px;
  font-size: 24px;
}

.span-accent {
  font-weight: bold;
}

.section-title {
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.section-title__text {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-subtitle__text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  padding: 0;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column_horizontal-centered {
  justify-content: center;
}

.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin-top: 100px;
  padding: -100px;
  text-align: center;
  z-index: 2;
}

.feynman__title_text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.feynman__subtitle {
  margin-top: 70px;
  z-index: 2;
}

.feynman__subtitle_text {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link_text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.link_color {
  color: #2f80ed;
}

.kaufman {
  background-color:  #1f1f1f;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.section-title__text_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  /* опять пустой класс */
}

.section-subtitle__text_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  /* то же самое, что и с классом ниже */
}

.table__text_theme_dark{
  /* в этом классе хотел задать размер шрифта,
  но атрибуты получилсь такие же, что и в классе "table__text"
  Нужен ли вообще этот класс тогда? Или можно его удалить? */
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  padding: 0;
  margin: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -288px;
  top: 0; /* здесь не могу понять
  почему при значении -210px
  у меня треугольник располагается
  не как в брифе */
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(/images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  margin: 18px 0;
}

.footer__author_text {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading_text {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style-type: none;
  margin: 20px 0 16px 0;
  padding: 5px;
}

.footer__column-link {
 color: white;
 text-decoration: none;
 line-height: 30px;
 font-size: 18px;
 font-weight: normal;
}

.footer__social-icon {
  padding-right: 10px;
  vertical-align: middle;
}
